@charset "utf-8";
/*==========@@HTML默认 开始@@==========*/
/*基本*/
*{ padding:0px; margin:0px }
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td { margin: 0; padding: 0;}
body{
	color:#626262;
	padding:0px; 
	margin:0px auto;
	font-family: 宋体;
	font-size:12px;
	/*background:url(../images/body_bg.jpg) #FFF center repeat-y;*/
}
div{ margin:0; padding:0; border:0; }
img{ margin:0; padding:0; border:0; }
p{ margin: 0px; line-height:1.8em}
b,strong {font-weight: bold;}
table { border-collapse: collapse; border-spacing: 0; /* Remove most spacing between table cells.*/}
li{ list-style: none outside none;}

/*链接*/
a{ text-decoration:none; color:#626262; background: transparent;  outline:none}
a:visited {}
a:focus { outline:none; }
a:hover, a:active{ color:#0F66CD; outline:none;}

/*标题*/
h1 { font-size: 1.3em;margin:  0;}
h2 {font-size: 1.2em; margin: 0;}
h3 { font-size: 1.17em;margin: 0;}
h4 {font-size: 1em;margin:0;}
h5 {font-size: 0.83em;margin: 0;}
h6 { font-size: 0.67em;margin: 0;}

/*表单*/
form {margin: 0;}
button,input,select,textarea {
    font-size: 100%;  /* Correct font size not being inherited in all browsers. */
    margin: 3px;  /* Address margins set differently in IE 6/7, Firefox 3+, Safari 5,and Chrome */
    vertical-align: baseline; /* Improve appearance and consistency in all browsers */
    *vertical-align: middle; /* Improve appearance and consistency in all browsers */
}
button,select {text-transform: none;}
input{padding:2px;background-color: #FFFFFF;border: 1px solid #ccc;width:99%;line-height: normal;}
textarea{padding: 2px;color: #000000;background-color: #fff;width:99%;}

/*其它*/
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
code, kbd, pre, samp {font-size: 1em;}
pre {margin: 1em 0; white-space: pre;white-space: pre-wrap;word-wrap: break-word; }
small {font-size: 80%;}
sub,sup {font-size: 75%;line-height: 0; position: relative;vertical-align: baseline; /* Prevent `sub` and `sup` affecting `line-height` in all browsers.*/}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
dl{margin: 1em 0;}
dd {margin: 0 0 0 40px;}
/*==========@@HTML默认  结束@@==========*/


/*==========@@通用 开始@@==========*/
/*常用颜色*/
.blue {color: #00F !important;}
.green {color: #0F0 !important;}
.red {color: #F00 !important;}
.black {color: #000000 !important;}
.white {color: #FFFFFF !important;}
.gray { color:gray; !important; }
.purple { color:purple;  !important;}

/*浮动*/
.clear { display:block; clear:both; height:3px; overflow:hidden; line-height:3px; }
.float_left { float:left; }
.float_right { float:right; }

/*对齐方式*/
.left { text-align: left}
.right {text-align: right}
.center{ text-align: center}

/*按钮*/
a.btn { display:block; height: 24px; line-height: 24px;  width: 81px;
	background:url(../images/button.jpg) no-repeat 0 -24px; 
	border: 0;    color: #FFFFFF; cursor: pointer;
    font-weight: bold;  
	text-align:center;
}
a.btn:hover {background: url(../images/button.jpg) no-repeat 0px 0px; color:#fff}
a.btn1 {display: block;height: 33px; line-height: 30px;  width: 120px;  padding-left: 28px; background: url(../images/order_bg.jpg) no-repeat; color: #fff;}
a.btn1:hover {background: url(../images/order_bg.jpg) no-repeat 0px -33px;  color:#fff}

/*其它*/
.hide { display:none; }  /*隐藏*/
.more{ float: right; padding-right:5px;} /*more链接*/
.code_image{ cursor: pointer; padding-bottom:6px;} /*验证码图片样式*/

/*表单类*/
.form_text {
	height:20px; line-height:20px;  width:95%; 
	padding: 2px; 
	clip: rect;color: #000000;
	background-color: #fff;
	border-color: #a0a0a0 #cbd9eb #cbd9eb #a0a0a0;
	border-width:1px;
	background: url(../images/form_bg.jpg) repeat-x 0px 0px;
}
.form_text:hover {
	padding: 2px; height:20px;
	clip: rect;
	color: #000000;background-color: #fff;
    border-color: #a0a0a0 #cbd9eb #cbd9eb #a0a0a0;
	border-width:1px;
	background: url(../images/form_bg.jpg) repeat-x;
	background-position: 0px -37px;
}
.form_text_verifycode { 
	height:20px; line-height:20px; width:50px; margin-right:3px;padding: 2px;
	clip: rect;color: #000000;
	background-color: #fff;
	border-color: #a0a0a0 #cbd9eb #cbd9eb #a0a0a0;
	border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;
	border-left-width: 1px;background: url(../images/form_bg.jpg) repeat-x 0px 0px;
}
.form_text_verifycode:hover {
	height:20px; line-height:20px; width:50px; margin-right:3px; padding:2px;
	clip: rect;
	color: #000000;background-color: #fff;
    border-color: #a0a0a0 #cbd9eb #cbd9eb #a0a0a0;
	border-top-width: 1px;border-right-width: 1px;border-bottom-width: 1px;
    border-left-width: 1px;background: url(../images/form_bg.jpg) repeat-x;
	background-position: 0px -37px;
}
.form_radio{ width:auto; border:0;}
.form_checkbox{ width:auto; border:0}
.form_select { height:25px; }
.form_textarea { width:95%; height:80px; border-color: #a0a0a0 #cbd9eb #cbd9eb #a0a0a0;border-width:1px; padding:2px;}
.form_button {
	background: url(../images/button.jpg) no-repeat 0 -24px;
    border: 0;color: #FFFFFF;cursor: pointer;font-weight: bold; 
	height: 24px; line-height: 24px;margin: 0;padding: 0;width: 81px; 
}
.form_button:hover{ background: url(../images/button.jpg) no-repeat 0px 0px; height:24px; line-height:24px; padding:0; margin:0}
.required{ color:red; font-weight:bold; text-align:left; padding-left:3px;}
/*==========@@通用 结束@@==========*/


/*==========@@布局  开始@@==========*/
/*模型body*/
.body_index, .body_article, .body_download, .body_picture, .body_product, .body_single, .body_video, .body_job, .body_feedback, body_guestbook{}
.index, .single, .article, .picture, .download, .video, .product, .job, .guestbook, .feedback{
	width:1000px;
	margin:5px auto; 
}
#top, #logo, #navigation, #banner, #location, #announcement, #link, #copyright {
	 width:1000px;  margin:0 auto; overflow:hidden; border:0px dashed red;
}
#left { float:left; width:250px; }
#center{}
#right { float:right; width:740px; border-left:0px solid #E5E5E5; padding-left:0px; }

/*左侧*/
/*主体左侧样式*/
.left_title { height:43px; line-height:43px;  background:url(../images/left_title.jpg) no-repeat; }
.left_title h2 { text-indent:1em; font-size:14px; color:#000; }
.left_title h2 a { font-size:14px; color:#C7231D; }
.left_body { overflow:hidden; zoom:1; color:#000; border:5px solid #eaeaea; padding:5px 5px 0px 5px; border-bottom:0; border-top:0}
.left_bottom { height:15px; background:url(../images/left_bottom.jpg) no-repeat; margin-bottom:5px;}

/*样式1*/
.left_title1{ height:39px; line-height:39px; background:url(../images/left_title1.jpg) no-repeat;}
.left_title1 h2 { text-indent:1em; font-size:14px; color:#000;  }
.left_body1 { overflow:hidden; zoom:1;  color:#000; padding:0 10px 5px;  border:5px solid #eff6fe; border-bottom:0; border-top:0}
.left_bottom1 { height:15px;  background:url(../images/left_bottom1.jpg) no-repeat; margin-bottom:5px;}

/*样式2*/
.left_title2 { height:39px; line-height:39px; background:url(../images/left_title2.jpg) ;  }
.left_title2 h2 { text-indent:1em; font-size:14px; color:#000; }
.left_body2 { overflow:hidden; zoom:1; color:#000;  padding:0 10px 5px; border:5px solid #caeaff; border-top:0; border-bottom: 0px}
.left_bottom2 { height:15px;  background:url(../images/left_bottom2.jpg) no-repeat; margin-bottom:5px;}

/*主体右侧*/
/*样式1*/
.right_title { background: url(../images/right_title.jpg) no-repeat; height:39px; line-height:39px;}
.right_title h2 { font-size:14px; font-weight:bold; padding-left:10px; color:#626262; }
.right_body { padding:5px; overflow:hidden; zoom:1; border:5px solid #B7E6FA; border-top:0; border-bottom:0 }
.right_bottom {height: 5px;  line-height:5; background:#B7E6FA; overflow:hidden; font-size:0px; margin-bottom:5px;}
/*样式2*/
.right_title1 { background: url(../images/right_title1.jpg) repeat-x 0 0; height:39px; line-height:39px;  }
.right_title1 h2 { font-size:14px; font-weight:bold; padding-left:10px; color:#626262;}
.right_body1 { padding:5px; overflow:hidden; zoom:1; border:5px solid #FACEB9; border-top:0; border-bottom:0}
.right_bottom1 { height: 5px; font-size: 0px; line-height:0; background:#FACEB9;  overflow:hidden; margin-bottom:5px;}
/*==========@@布局  结束@@==========*/


/*==========@@公共板块  开始@@==========*/
/* 顶部 */
#top_main { height:27px;  background:url(../images/top_bg.jpg) repeat-x; }
#top { height:27px; line-height:27px; text-align:right;}
#top_1 { float:left;  text-align:left;}
#top_2 { float:right; text-align:right; }
#top .MobileEdition{  color:red;}
#top a { color:#333;  font-family: Microsoft Yahei;padding:0px 5px;}
#top a:hover { color:#F00;  text-decoration:none}

/*Logo*/
#logo_main { }
#logo {overflow:hidden;  background:url(../images/logo_bg.jpg) repeat-x; }
#logo .WebLogo{ float:left;width:736px;}
#logo .tel{ float:right;width:264px;}
#logo .Language{width:500px;float:right; padding:10px;}
#logo .Language .MobileEdition{ font-weight: bold; color:red;}
#logo .Member { width:500px; height:35px; line-height:35px; float:right; text-align:right;font-weight:bold; }
#logo .Member .MemberName, #logo_main .Member .MemberGroupName{color:#F30}

/*导航*/
#navigation_main { background:url(../images/navigation_bg.jpg) repeat-x;}
#navigation { height:49px;  }
#navigation ul.navigationlist li { float:left; line-height:49px; text-align:center;  }
#navigation ul.navigationlist li a { display:block; padding:0px 21px; font-size:15px; font-weight:bold;font-family: Microsoft Yahei; color:#FFF; }
#navigation ul.navigationlist li a:hover { text-decoration:none; color:#fff; background:#0088CF; }
#navigation ul.navigationlist .current { color:#fff;background:#0088CF; }
/*导航栏下拉*/
#navigation  ul.subnavigationlist{ display:none; position:absolute; background:#034697; z-index:100}
#navigation  ul.subnavigationlist li {  float:none; padding:0px; line-height:28px; display:inline;}
#navigation  ul.subnavigationlist li a { display:block; white-space:nowrap; font-weight:normal; color:#FFF; font-size:12px; padding:0px 28px; text-align:left}
#navigation  ul.subnavigationlist li a:hover {  background:#2475d8;  color:#ffe400; }

/*公告*/
#announcement { margin-top:5px;  height:35px; line-height:35px;background-color:#f0f0f0; color:#0B3B7D;}
#announcement .announcement_title{ float:left;font-weight:bold; text-indent:35px; background:url(../images/ann.gif) no-repeat 8px center; width:150px;}
#announcement .announcement_body{float:left; width:750px;}
#announcement .announcement_bottom{float:right; width:100px; }
.announcementlist{ }
.announcementlist li { line-height:35px; }

/*Js幻灯片样式*/
#banner_main {position:relative; border:0px solid blue; }
#banner {  border:0px solid red; margin:0 auto; overflow:hidden; width:100%}
.bannerlist{}
.bannerlist li{ text-align:center; border:0px dashed red; overflow:hidden; display:block;}
#banner_main .hd{ width:100%; position:relative; bottom:35px; left:0; height:5px; line-height:5px; text-align:center; border:0px solid red; }
#banner_main .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:13px; height:13px; 
background:url(../images/dot.png) -13px 0 no-repeat; margin-right:15px; overflow:hidden; font-size:0px;}	
#banner_main .hd ul li.on{  background:url(../images/dot.png) 0 0 no-repeat;  }

/*Flash幻灯片样式*/
/*
#banner_main {border:0px solid blue; }
#banner {  border:0px solid red; margin:0 auto; overflow:hidden;}
*/


/*当前位置*/
#location_main {} 
#location {height:35px; margin-top:5px;text-indent: 22px;line-height:35px; background-color:#f0f0f0; color:#0B3B7D;}

/*子频道列表*/
.subchannellist { }
.subchannellist li { line-height:24px; padding:1px; border-bottom:1px solid #E3E3E1;background:url(../images/ul_left_common.gif) left no-repeat; }
.subchannellist li a { display:block; padding:0 5px 0 25px; color:#000;}
.subchannellist li a:hover {  color:red; text-decoration:none; }
.subchannellist #current a {  font-weight:bold; color:red; }
.subchannellist .depth1{ font-size:12px; font-weight:bold;}
.subchannellist .depth2{ font-size:12px; text-indent:1.5em;}
.subchannellist .depth3{ font-size:12px; text-indent:3em}
.subchannellist .depth4{ font-size:12px; text-indent:4.5em}
.subchannellist .depth5{ font-size:12px; text-indent:6em}
.subchannellist .depth6{ font-size:12px; text-indent:7.5em}

/*搜索 */
table.search_table{ width:99%; text-align:center;}
table.search_table th{ vertical-align:middle; text-align:center; padding:0px 3px;}
table.search_table td{ vertical-align:middle; width:90px; padding:0px 3px;}

/*联系我们*/
.contact_wrap{ line-height:1.8em}
.contact_wrap b{ font-weight:bold;}
.contact_wrap .WebUrl{ color:#F00 }

/*订购*/
.order{margin:0px auto}
.order .WantOrder h1{ border-bottom:1px dotted #999999; padding: 5px 0px;}
.order .f1{ float:right; color:red;}
table.order_table{ width:98%;  }
table.order_table th{ width:100px; text-align:left;}
table.order_table td{text-align:left}
table.order_table .operation{ text-align:center}

/* 友情链接 */ 
#link_main {}
#link { padding:0; }
.link_title { background:url(../images/link_title.jpg) no-repeat; height:43px; line-height:43px; text-indent:10px;  }
.link_title h2 { font-size:14px; color:#000; line-height:43px;}
.link_body { padding:10px 5px 0px 5px; color:#000; border: 5px solid #cbebfa; border-top:0px; border-bottom:0px}
.link_bottom{height:15px;  background:url(../images/link_bottom.jpg) no-repeat; margin-bottom:5px;}
.link_pic { overflow:auto; zoom:1;  }
.link_pic ul li { float:left; padding:1px 5px; text-align:center; width:112px}
.link_pic img { width:86px; height:30px; padding:2px; border:1px solid #CCC; }
.link_pic ul li a:hover img { border:1px solid #6C9ACC;}
.link_text { overflow: hidden; zoom:1; }
.link_text ul li { float:left; text-align:center; padding:1px 5px; overflow:hidden; width:112px; white-space:nowrap}
.link_text a { line-height:22px; }

/* 版权信息 */
#copyright_main { color:#fff; background-color: #004594; }
#copyright { padding:10px 0;  }
#copyright .bottom_navigation{text-align: center;padding: 5px 0px; }
#copyright a {color: #fff; text-decoration: none;}
#copyright a:hover {color: #ff0000; text-decoration: none;}
#copyright .bottom_info{ text-align:center;padding-top:5px; padding-right:10px; line-height:20px; }
#copyright .TechnicalSupport{ text-align:center; line-height:20px;}

/*分页样式*/
.page { padding:4px 0px 0px 1px; float:right; clear:both;}
.page a, .page span { float:left; display:block; border:1px solid #D3D1D1; padding:2px 5px; margin-left:4px; line-height:22px; }
.page a:link, .page a:visited { text-decoration:none; }
.page a:hover { background:#CC0001; color:#ff9900; }
.page .current{ background:#CC0001; color:#FFF;}
.page #total{color:red}

/*会员*/
/*会员登录*/
table.login_table{ width:60%; text-align:center; margin:0 auto;}
table.login_table th{ width:100px; text-align:left; font-weight:bold;}
table.login_table td{ text-align:left;}
table.login_table .operation{text-align:center}

/*会员注册*/
table.reg_table{ width:60%; text-align:center; margin:0 auto;}
table.reg_table th{ width:140px; text-align:left; font-weight:bold;}
table.reg_table td{  text-align:left; }
table.reg_table .operation{text-align:center}

/*忘记密码 第一步*/
table.forget_table1{ width:60%; text-align:center; margin:0 auto;}
table.forget_table1 th{ width:100px; text-align:left; font-weight:bold;}
table.forget_table1 td{ text-align:left; }
table.forget_table1 .operation{text-align:center}
/*忘记密码 第二步*/
table.forget_table2{ width:60%; text-align:center; margin:0 auto;}
table.forget_table2 th{ width:100px; text-align:left; font-weight:bold;}
table.forget_table2 td{text-align:left}
table.forget_table2 .operation{text-align:center}

/*网站地图列表*/
.maplist{ }
.maplist li { padding:1px; }
.maplist li a { background:#d1e8fc; line-height:25px; display:block; padding:0 20px; border:0px solid #A6CC93; }
.maplist li a:hover { text-decoration:none; background:#FFF; }
.maplist .depth1{font-weight:bold;text-indent:0px; font-weight:bold}
.maplist .depth2{text-indent:2em}
.maplist .depth3{text-indent:4em}
.maplist .depth4{text-indent:6em}
.maplist .depth5{text-indent:8em}
.maplist .depth6{text-indent:10em}
/*==========@@公共板块  结束@@==========*/


/*==========@@频道页面 开始@@==========*/
/*===公共字段 开始===*/
.ChannelContent, .ChannelContent p{ line-height:1.8em}
.ChannelSContent{}
.ChannelSContent img, .InfoContent img{ max-width:100% }

.InfoTitle{ font-weight:normal; text-align:center; vertical-align:middle;   color:#900; padding:5px 0px}
.InfoTitle h1{ font-size:16px; line-height: 1.5em; }
.InfoTime{color:#999; text-align:left;  padding:2px 0px; height:25px}
.InfoContent, .InfoContent p{ line-height:1.8em; padding:10px 0;}
.InfoAttachment{ padding:10px 0px; text-align:center; width:81px; margin:0 auto;}
.InfoPicture{ text-align: center;}
.InfoPicture img{ width:100%; max-width:100%}
.info_from_wrap{ padding:0 10px; text-align:center; color:#999; border:1px dashed #ccc; line-height:30px; margin-bottom:5px;}
.info_from_wrap a { color:#999; }
.info_from_wrap a:hover { color:#555; }
.info_previous_next_wrap{ background:#F0F0F0; padding:5px; border:1px solid #E3E3E3; line-height:1.8em}

.info_product_detail_wrap{ line-height: 2.2em;}
.info_product_detail_wrap b{color: #626262; font-weight:bold;}
.info_product_detail_wrap table.detail_table{ width:100%; }
.info_product_detail_wrap table.detail_table th{ width: 200px;}
.ProductDescription{ height:40px; background:url(../images/product_bg.jpg) left center; padding-left:35px; line-height:40px; font-size:16px; font-weight:bold;}
.product  .info_product_detail_wrap img{ width:195px; height:195px;float:left;  text-align:left }
.product  .InfoTitle{  font-size:16px; font-weight:bold; text-align:left; padding:10px 0px;}
.product  .f2{ padding:5px 0px}
.product  .f1{ padding:5px 0px}
.product  .InfoHit{ padding:5px 0px; font-weight:bold; color:#990000}
.product  .InfoTime{ padding:5px 0px; }
/*===公共字段 结束===*/

/*===首页 开始===*/
.index .ChannelContent{color:#626262;  line-height:25px; height:200px; background:url(../images/about_bg.jpg); padding:5px; overflow:hidden; margin-bottom:10px;}
.index .ChannelContent a{ color: #ff9d02}
.index #left{ float: right}
.index #right{ float: left}
/*===首页 结束===*/

/*===招聘频道  开始===*/
.job{ }
.joblist { }
.joblist li {overflow: hidden; padding:5px 0px;}
table.job_table { margin:8px 0px; padding:0px; text-align:center; width:100%; border-collapse:collapse;}
table.job_table td{ padding:8px 5px; border:1px solid #DADBD6;}
table.job_table .Requirement{ text-align:left; padding:8px 5px; line-height:1.5em;}
table.job_table th{color:#014597; font-weight:bold; text-align:center; border:1px solid #DADBD6;}
table.job_table . { color:#014597;font-weight:bold;padding:5px 0;width:20%;}
table.job_table .t2 { text-align:left;width:25%;}
table.job_table .t3 {color:#014597;font-weight:bold;width:25%;}
table.job_table .t4 {text-align:left;width:25%;}
table.job_table .operation{text-align:center; width:81px; margin:0 auto;}
/*应聘*/
table.resume_table { margin:3px; text-align:center; width:97%; border-collapse:collapse;}
table.resume_table th{ font-weight:bold; text-align:left; width:100px;}
table.resume_table td{text-align:left; }
table.resume_table .operation{text-align:center; }
table.resume_table #Detail{ height:200px;}
/*===招聘频道  结束===*/

/*===留言频道  开始===*/
.guestbook{ }
.guestbooklist{}
.guestbooklist li{ padding:10px; border:1px solid #CCC; margin-bottom:10px; }
.MessageTitle { color:#227BAD; line-height:1.5em; font-weight:bold;}
.MessageContent { padding:5px; margin-bottom:10px; }
table.guestbook_table{ width:98%;  }
table.guestbook_table th{ width:100px; text-align:left}
table.guestbook_table td{ text-align:left}
table.guestbook_table .operation{ text-align:center }

/*管理员回复*/
.answer_wrap{ padding:5px; border-top:1px dashed #CCC; line-height:1.5em}
.answer_title{}
.answer_body {}
.Administrator { text-align:right; }
.Reply { text-align:right; }
.AnswerTime{ color:#999 }

/*留言表单*/
.message_title{ height:40px; background:url(../images/product_bg.jpg) left center; padding-left:35px; line-height:40px; font-size:16px; color:#5d5d5d; font-weight:bold;}
.message_body{ padding-left: 10px; padding-right: 10px; color:#626262; }
.message_bottom{}
/*===留言频道  结束===*/

/*===反馈频道 开始===*/
.feedback{ }
table.feedback_table{ width:99%; text-align:center; margin:0 auto;}
table.feedback_table th{ width:100px; text-align:left; font-weight:bold;}
table.feedback_table td{  text-align:left;}
table.feedback_table .operation{text-align:center}
/*===反馈频道 结束===*/
/*==========@@频道页面 结束@@==========*/


/*==========@@通用列表 开始@@==========*/
/*文字列表*/
.textlist{}
.textlist li { line-height:26px; height:26px;padding-left:8px; background:url(../images/icon3.gif) no-repeat 0 center; overflow:hidden;}

/*带缩略图文字列表*/
.thumblist{}
.thumblist li {}

/*橱窗列表*/
.gridlist{ }
.gridlist li { float:left; text-align:center; margin:0px 6px;  width:167px; height:195px; overflow:hidden; display:inline /*解决ie6 双边距bug*/;}
.gridlist li img { border:1px solid #999999; width:165px; height:165px;}
.gridlist li a { white-space:nowrap; line-height:28px;}
.gridlist li a:hover img { border:1px solid #034b9f; }

/*视频列表*/
.videolist{ }
.videolist li { width:350px; float:left; padding:0px 5px; text-align:center; overflow:hidden;}
.videolist li a { white-space:nowrap; line-height:28px;}
/*==========@@通用列表  结束@@==========*/