<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="{$Css}style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$WebPublic}jquery/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$WebPublic}jquery/jquery.form.js"></script>
<link href="{$WebPublic}jquery/artDialog/skins/green.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{$WebPublic}jquery/artDialog/jquery.artDialog.min.js"></script>
<script type="text/javascript" src="{$WebPublic}jquery/artDialog/artDialog.plugins.min.js"></script>
<script type="text/javascript" src="{$Js}common.js"></script>
</head>
<body id="main_page">
		<div id="nav" style="display:none;">
		<dl>
		<dt>当前位置：</dt>
        <dd class="link">模板管理</dd>
        <dd class="link">电脑模板管理</dd>
        <dd class="link">编辑样式表文件</dd><!--导航-->
        </dl>
		</div>
<script type="text/javascript">
	if ($.browser.msie) {
		document.execCommand("BackgroundImageCache", false, true);
	}
	var nav = document.getElementById("nav");
	var pnav = window.parent.document.getElementById("nav")
	pnav.innerHTML = nav.innerHTML;
</script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#frmSave').ajaxForm({
			success: complete,
			dataType: 'json'
		});
		
		function complete(data){
			if (data.status==1){
				SucceedBox(data.info);
            }else{ //添加频道失败
				ErrorBox(data.info);
			}
		};
		
		 $('#frmSave').submit(function(){  // 提交表单
	     	return false;  //为了防止普通浏览器进行表单提交和产生页面导航（防止页面刷新？）返回false  
	     });
		 
		 //设置编辑器高度
		 var h = $(window).height();
		 $("#FileContent").css("height", h-120);
		 $(window).resize(function() {
			 var h = $(window).height();
		 	 $("#FileContent").css("height", h-120);
		});
	});
</script>
<script>
function GoBack(){
	window.location.href = "{$Url}Style";
}
</script>
<div class="wrap">
    <div class="container">
        <div id="main">
            <div class="con box-green">
                <form enctype="multipart/form-data" action="{$Action}" method="post" id="frmSave">
                <input type="hidden" name="FileName" value="{$FullFileName}" />
                <div class="box-header"><h4>样式表文件: <span style="color:blue">{$FileName}</span></h4></div>
                    <div class="box-content">
        <table class="table-font">
        <tr>
        <td>
<textarea id="FileContent" style="width:99%;height:510px;font-size:18px" name="FileContent">{$FileContent}</textarea>
        </td>
        </tr>
        </table>
                </div> 
                <div class="box-footer">
                    <div class="box-footer-inner">
                    <input type="submit"  id="btnSubmit"  value="保存" />
                    &nbsp;&nbsp;<input  id="btnSubmit"  type="button" value="返回" onclick="GoBack()" />
                    </div>
                </div>
</form>
            </div><!--/ con-->
        </div>    
    </div><!--/ container-->
</div><!--/ wrap-->
</body>
</html>
